# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.so
*.pyd

# ===============================
# Environments
# ===============================
.env
.venv
venv/
env/
conda-env/
*.egg-info/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# ===============================
# Data (raw & processed)
# ===============================
data/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Temporary
# ===============================
*.tmp
*.log
*.bak
